{% extends "base.html" %} 

{% block title %}Detail{% endblock title %} 
{% block test %}
<style >
.fill {

    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url({{destination.pretty_picture.url}});



}
</style>

{% endblock test %} 


{% block content %}


<div class="fill animated fadeIn " id="page">

    <h1 class="DestinationName text-center   ">{{destination.name}}</h1>
    <h3 class="DestinationDescripion text-center">{{destination.description}}</h3>
    <h4 class="DestinationDescripion text-center ">Activities: {{destination.activities}}</h4>



        <h4 class="text-center DestinationDescripion">When: {{destination.optimal_visiting_season}}</h4>
        
        <div  class="row " style="  padding-top:30px" >
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <a href="{% url 'destination-update' destination.id %}">
                <p class="btn MyButton  ">Update</p>
            </a>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <a href="{% url 'destination-delete' destination.id %}">
                <p class="btn MyButton2 "> Delete </p>
            </a>
        </div>
        </div>
        

        {% endblock content %}*]

